<!DOCTYPE html>
<html>
<head>
    <title>Jeff Portfolio</title>
</head>
<body>
    <div class="portfolio-container" (click)="openPortfolio()">
        <div class="folder">
          <div class="folder-top"></div>
          <div class="paper-inside"></div>
          <div class="folder-front">
            <img src="assets/media/images/folder-tape.png" alt="Portfolio Label" />
          </div>
        </div>
        <p class="instruction">Tap the folder to open Portfolio</p>
      </div>
</body>
</html>