* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #474849;
}

body {
  background-image: url('/assets/media/images/main_background.png');
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

.hero {
  text-align: center;
  margin-bottom: 25px;
}

.hello-text {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 1px;
}

.name {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  color:#474849;
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out;
}

.subtitle {
  font-size: 18px;
  margin-top: 10px;
}

.hello-text,
.name,
.subtitle{
  letter-spacing: -0.9px;
}