<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
</head>
<body>

    <div class="navbar">
        Navigation bar
      </div>
      
      <div class="hero">
        <div class="intro-text">
          <p>Hi, I am</p>
          <h1>Name</h1>
          <h1 class="italic">Surname</h1>
          <p class="subtitle">a Front-End Developer</p>
        </div>
        <div class="image-container">
          <img src="assets/images/profile.png" alt="Profile Picture">
        </div>
      </div>
      
      <div class="about">
        <h2>About <span class="italic">Me</span></h2>
        <p class="description">
          descriptiondescriptiondescriptiondescriptiondescriptiondescription
          descriptiondescriptiondescriptiondescriptiondescriptiondescription
          descriptiondescriptiondescriptiondescriptiondescriptiondescription
        </p>
      </div>
      
      <div class="buttons">
        <button>IT Projects</button>
        <button>Artworks</button>
      </div>
      
    
</body>
</html>