<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>

    <div class="navbar"></div>
      
    <div class="hero">
        <div class="intro-text">
            <p class="hello-text">Hello, I am</p>
            <div class="profile-container">
                <img class="icon-profile" src="assets/media/images/icon-profile.png" alt="Profile Picture">
                <div class="rectangle"></div>
            </div>
            <h1 class="name">Jeff Carl Monroy</h1>
            <p class="subtitle">IT Student&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Digital Artist</p>
        </div>
    </div>

</body>
</html>
