.navbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: transparent !important;
  backdrop-filter: none;
}

.nav-button,
.image-button {
  width: 70px; 
  height: 45px; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(145, 145, 145, 0.1);
  transition: transform 0.2s ease-in-out;
  border: none;
  cursor: pointer;
  outline: none;
  color: #474849;
}

.nav-button:hover,
.image-button:hover {
  transform: scale(1.05);
}

.image-button {
  background-color: #87D3EF;
  color: white !important;
  font-weight: 500;
  font-family: Helvetica, Arial, sans-serif !important;
  letter-spacing: -0.1px; 
}

mat-icon {
  font-size: 24px;
}

.nav-button .mat-ripple,
.image-button .mat-ripple {
  display: none !important;
  background: none !important;
}
